apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namespace: humangov-prod
namePrefix: prod-florida-
commonLabels:
  environment: prod
  state: florida

images:
  - name: IMAGE_PLACEHOLDER
    # ⚠️ REPLACE WITH YOUR REAL ECR URL
    newName: 211125586061.dkr.ecr.us-east-1.amazonaws.com/humangov-app
    # In Prod, we usually PIN a specific version (Stable) instead of "latest"
    newTag: "2b0b638" 

patches:
  # PATCH 1: Deployment (Replicas & Env Vars)
  - target:
      kind: Deployment
      name: humangov-python-app
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1  # High Availability for Prod
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        # ⚠️ CHECK TERRAFORM OUTPUT FOR REAL florida BUCKET NAME
        value: "humangov-florida-s3-p4yy" 
      - op: replace
        path: /spec/template/spec/containers/0/env/1/value
        value: "humangov-florida-dynamodb"
      - op: replace
        path: /spec/template/spec/containers/0/env/3/value
        value: "florida"

  # PATCH 2: Ingress (Real Domain Name)
  - target:
      kind: Ingress
      name: humangov-ingress
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: "florida.humangovv.click"

  # PATCH 3: Nginx Config (Service Discovery Fix)
  # This is crucial so Nginx finds the Python app using the "prod-florida-" prefix
  - target:
      kind: ConfigMap
      name: humangov-nginx-config
    patch: |-
      - op: replace
        path: /data/nginx.conf
        value: |
          events {
            worker_connections 1024;
          }
          http {
            server {
              listen 80;
              location / {
                # Notice the prefix match: prod-florida-
                proxy_pass http://prod-florida-humangov-python-app-service:8000;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
              }
            }
          }