apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
namespace: humangov-prod
namePrefix: prod-california-
commonLabels:
  environment: prod
  state: california

images:
  - name: IMAGE_PLACEHOLDER
    newName: 123456789.dkr.ecr.us-east-1.amazonaws.com/humangov-app
    newTag: v1.0.0  # Stable Tag

patches:
  # Inject REAL California values from Terraform Output
  - target:
      kind: Deployment
      name: humangov-python-app
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "humangov-california-s3-REAL-ID" 
      - op: replace
        path: /spec/template/spec/containers/0/env/1/value
        value: "humangov-california-dynamodb"
      - op: replace
        path: /spec/template/spec/containers/0/env/3/value
        value: "california"